.middle{
    display: grid;
    grid-template-rows: 0.15fr 1fr;
    padding: 10px;
    height: 100%;
}

.card-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

span{
    margin: 5px;
}

.str-mar{
    margin-left: 20px;
    margin-right: 20px;;
}