body {
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.all-sections{
  display: grid;
  grid-template-rows: 0.2fr 0.8fr 0.5fr;
}

.heading{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dark-text{
  color: black;
  font-size: 15px;
  font-weight: 600;
}

.light-text{
  color: #7b7d7e;
  font-size: 15px;
}