.card{
    border-radius: 20px;
    margin: 5px;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.9)
    ), url(./card1.svg);
    background-size: cover;
    padding: 15px;
}

.card-svg{
    object-fit: cover;
    height: 100%;
    width: 100%; 
}

.profile-card-trans{
	display: grid;
  grid-template-columns: 0.5fr 3fr ;
  grid-gap: 8px;
  border-radius: 10px;
  padding: 10px;
}

.card-btn{
  border-style: none;
  color: white;
  background-color: #e55f3d;
  border-radius: 5px;
  margin: 5px;
}

.btn-grid{
  display: grid;
  grid-template-columns: 0.5fr 1fr;
}

.card-txt{
  margin-top: 50%;
  color: white;
  margin-left: 5px;
  padding: 5px;
  border-radius: 10px;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.9)
    );
}

.small-name-white{
	color: white;
	font-weight: bold;
	font-size: 13px;
	margin:0;
	padding: 0;
}

.small-college-white{
	font-size: 10px;
	color: white;
	grid-column: 2/3;
	grid-row:1/2;
	margin:0;
	padding: 0;
}

.card-txt-details{
  margin: 0;
  font-size: 12px;
}